body {
  font-family: monospace;
  font-size: 2.5em;
}

.sparkle {
  position: absolute;;
  left: 3vw;
  top: 10vw;
  width: 10px;
  height: 10px;
  background: gold;
  display: none;
}

.sparkle-container {
  margin: auto;
  width: 60vw;
  height: 140vh;
  position: relative;
}

.container {
  margin: auto;
  text-align: center;

  padding: 50px;
}

#output {
  width: 30vw;
  min-height: 30vw;
  background: white;
  margin: auto;
  font-family: monospace;
  font-size: 2em;
  padding: 34px;
}

h6 {
  margin: 20px;
}

input {
  margin: 20px;
  border: none;
  border-bottom: solid;
  font-size: 1em;
  width: 50vw;
}

input:focus {
  outline: none;
}
